<!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .box {
            background: white;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            width: 350px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

<div class="box">
    <h3>📩 Check Your Email</h3>
    <p>A password reset link has been sent to your email.</p>

    <a href="{% url 'student_login' %}">Back to Login</a>
</div>

</body>
</html>